#nofoundBackground {
  background-color: #f2f5f5;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#notFoundPage--h5title {
  font-size: 2rem;
}

#notFoundPage--cardtitle {
  background: linear-gradient(to right, #8739f9, #25c3e7);
}
