.homePage--languageHomePage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./src/images/Daco_5228516.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: auto; /* Add vertical scroll */
}

.homePage--box--languageHomePage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#languageHomePage--cardbox {
  width: 50%;
  text-align: center;
}

#languageHomePage--cardbox span {
  font-size: 40px;
}

/*cardcirle */

.card-circle--languageHomePage {
  text-align: center;
  /* background: #37b9f1; */
  border: 10px solid transparent;
  color: #fff;
  padding: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Updated box shadow with bigger size */
  margin-block: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-body--languageHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.card-title--languageHomePage {
  font-weight: 400;
  font-size: 1.5rem;
}

.card-circle--languageHomePage .card-text--languageHomePage {
  font-size: 13px;
  width: 100%;
}

.btn--link {
  color: white;
  text-decoration: none;
}
.btn {
  background: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 0px;
  font-weight: 600;
}

.card-circle--languageHomePage .btn,
.card-circle--languageHomePage {
  transition: all ease-in-out 0.2s;
}

.card-circle--languageHomePage .btn:hover {
  transform: scale(1.1);
  color: white;
  border: 2px solid;
  background-color: transparent;
}

.card-circle--languageHomePage:hover {
  transform: scale(1.1);
  box-shadow: 0 7.5px 30px rgba(0, 0, 0, 0.5); /* Updated box shadow with bigger size */
}

.btn--link:hover {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .card-circle--languageHomePage {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: none;
  }
  #languageHomePage--cardbox {
    width: 80%;
    margin-bottom: 50px;
  }
  #languageHomePage--cardbox p {
    font-size: 15px;
  }
  #languageHomePage--h5title {
    font-size: 20px;
  }

  .card-circle--languageHomePage {
    width: 220px;
    height: 220px;
    padding: 30px;
  }

  .card-circle--languageHomePage .btn-primary--languageHomePage {
    padding: 5px 20px;
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .card-circle--languageHomePage {
    width: 225px;
    height: 225px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .card-circle--languageHomePage {
    width: 225px;
    height: 225px;
  }
}

@media (min-width: 1200px) {
  .card-circle--languageHomePage {
    width: 250px;
    height: 250px;
  }

  #IntroLongText {
    display: block;
  }
  #IntroShortText {
    display: none;
  }
}

@media (max-width: 1200px) {
  .homePage--box--languageHomePage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  #IntroLongText {
    display: none;
  }
  #IntroShortText {
    display: block;
  }
}
