/* purple: #8739f9
bllue: #37B9F1
GREY: #F2F5F5
GREEN: #14de5e
green chatgpt: #58D4B6;
FONT COLOURS::
TEXT: #595360
LABEL: #908E9B
DISABLED: #E1DFE9  
textsize one: 4rem
textsize one: 3rem
textsize one: 2rem*/

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  font-family: "Fjalla One", sans-serif;
  margin: none;
  padding: none;
}

.outsideApp {
  background-color: #f2f5f5;
  height: 100%;
  width: 100%;
}

h1 {
  padding-top: 50px;
  text-align: center;
}
