.farsiPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

h1 {
  text-align: center;
  padding-top: 2%;
}

.card-title-responsive {
  font-size: 18px;
}

.link-responsive {
  font-size: 14px;
}

.farsi-card {
  display: flex;
  width: 55%;
  height: 30%;
  max-width: 240px;
  max-height: 370px;
  text-align: center;
}

.farsiCard--innerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.farsiCard--images {
  width: 100%;
  height: 58%;
}

@media (max-width: 576px) {
  .card-title-responsive {
    font-size: 10px;
  }

  .link-responsive {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .card-title-responsive {
    font-size: 16px;
  }

  .link-responsive {
    font-size: 12px;
  }
}

@media (min-width: 960px) {
  .farsiPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .farsi-card {
    display: flex;
    height: 50%;
    text-align: center;
  }
}
