/* purple: #8739f9
bllue: #37B9F1
GREY: #F2F5F5
FONT COLOURS::
TEXT: #595360
LABEL: #908E9B
DISABLED: #E1DFE9  
textsize one: 4rem
textsize one: 3rem
textsize one: 2rem*/

.outside--gameStructure {
  background-color: #f2f5f5;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  text-align: center;
}

.letterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.segments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* purple: #8739f9
bllue: #37B9F1
GREY: #F2F5F5
FONT COLOURS::
TEXT: #595360
LABEL: #908E9B
DISABLED: #E1DFE9  
textsize one: 4rem
textsize one: 3rem
textsize one: 2rem*/

.outer--outer-pointdiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 2%;
}

.outer--pointidv {
  background-color: none;
  height: 10%;
  /* padding: 10%; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  border-top: 2%;
}

.pointsComp {
  background-color: #8739f9;
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
  border-radius: 20px;
  margin-top: 40px;
  margin-right: 40px;
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heartsComp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
