.homePage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./src/images/Daco_5228516.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 75%;
  overflow-y: auto; /* Add vertical scroll */
}

.homePage--box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

/*cardcirle */
.card-circle {
  text-align: center;
  border: 10px solid transparent;
  color: #fff;
  margin-inline: 100px;
  padding: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Updated box shadow with bigger size */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.card-circle .card-text {
  font-weight: 400;
  width: 100%;
}
.card-title {
  font-size: 3rem;
}
.btn--link {
  color: white;
  text-decoration: none;
}

.card-circle .btn {
  background: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 0px;
  font-weight: 600;
}

.card-circle .btn,
.card-circle {
  transition: all ease-in-out 0.2s;
}

.card-circle .btn:hover {
  transform: scale(1.1);
  color: white;
  border: 2px solid;
}

.card-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 7.5px 30px rgba(0, 0, 0, 0.5); /* Updated box shadow with bigger size */
}

.btn--link:hover {
  text-decoration: underline;
}

/* .card-circle .btn-primary {
    padding: 5px 20px;
    font-size: 12px;
  } */

@media only screen and (max-width: 600px) {
  .homePage {
    background-image: url("./src/images/Daco_5228516.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto; /* Add vertical scroll */
    overflow-x: auto; /* Add vertical scroll */
  }

  .home--h1 {
    width: 89%;
  }

  .card-circle {
    width: 200px;
    height: 200px;
    padding: 30px;
  }

  .card-circle .card-title {
    font-size: 30px;
  }
  .card-circle .btn-primary {
    padding: 5px 20px;
    font-size: 0.76rem;
  }
}
@media only screen and (min-width: 600px) {
  .card-circle {
    width: 200px;
    height: 200px;
    padding: 30px;
  }

  .card-circle .card-title {
    font-size: 1.75rem;
  }

  .card-circle .btn-primary {
    padding: 5px 20px;
    font-size: 0.76rem;
  }
}

@media (max-width: 1200px) {
  .homePage--box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .card-circle {
    width: 200px;
    height: 200px;
  }

  .card-circle .card-title {
    font-weight: 600;
    font-size: 1.75rem;
  }
}
