nav {
  background-color: #252525;
}

#Navbar {
  color: white;
  padding-left: 2%;
}

.nav-link {
  color: white;
}

#navbarNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Changed from 'end' to 'flex-end' */
  padding-right: 2%;
}
