/* Custom styles for the navbar */
.navbar {
  background-color: #252525;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#Navbar {
  color: white;
  padding-left: 2%;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: white;
}

#navbarSupportedContent {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 2%;
}
